<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- 1,数据库连接配置 -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
	</property>
		<!--

			<property
			name="connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="connection.url">jdbc:mysql:///test</property>
			<property name="connection.username">root</property> <property
			name="connection.password">admin</property>
		-->

		<!-- 2,其他配置 -->
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- 3,引入映射文件(不采用注解的情况下) -->
		<!-- <mapping resource="com/clear/entity/User2.hbm.xml" /> -->
		<mapping class="com.clear.entity.User" />
	</session-factory>
</hibernate-configuration>